
@{
    ViewData["Title"] = "AboutUs";
}

    <h1 class="text-center">Hello!</h1>
    <h2 class="text-center">Who We Are</h2>
<hr />
    <p>
        Team 103 is owned and operated in Colorado, with 2 retail locations. We were the #1 most-searched fashion brand on Google in 2020. We are devoted to delivering the most sought-after, head-turning, up-to-the-moment trends, to anyone, anywhere in the world!
    </p>
    <p>
        We believe in a world where you have total freedom to be you. To experiment. To express yourself. So we make sure everyone has an equal chance to discover all the amazing things they’re capable of – no matter who they are, where they’re from. We exist to give you the confidence to be whoever you want to be.
    </p>
<hr />



