@model Team103.Models.TblUser

@{
    ViewData["Title"] = "UserProfile";
}

<h1>UserProfile</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UserProfile" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserPk" />
            <div class="form-group">
                <label asp-for="UserPassword" class="control-label">User Password</label>
                <input asp-for="UserPassword" class="form-control" id="password" value="@ViewData["password"]" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" value="@ViewData["password"]" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Phone</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" id="button" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#button").on("click", function ()
            {
                var pass = $("#password").val();
            var confirmPass = $("#confirmPassword").val();
            if (pass != confirmPass) {
                alert("\nPassword did not match: Please try again...")
                return false;
            }
            else {
                return true;
            }
            });
            
        });
    </script>
}
